{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="register-title uppercase center">Add Account</h1>
    <div class="row">
        <div class="col s12">
            <div class="card register-card">
                <div class="card-content">
                    <form method="POST" action="{{ url_for('register') }}">
                        <div class="row">
                            <div class="input-field col s6">
                                <input name="first_name" id="first_name" type="text" class="validate" required>
                                <label for="first_name"><i class="fa-solid fa-user"></i> First Name:</label>
                            </div>
                            <div class="input-field col s6">
                                <input name="last_name" id="last-name" type="text" class="validate" required>
                                <label for="last-name"><i class="fa-solid fa-user"></i> Last Name:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="username" id="username" type="text" minlength="5" maxlength="25" pattern="^[a-zA-Z0-9]{5,25}" class="validate" required>
                                <label for="username"><i class="fa-solid fa-user"></i> Username:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="email" id="email" type="email" class="validate" required>
                                <label for="email"><i class="fa-solid fa-envelope"></i> Email:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="password" id="password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}" class="validate" required>
                                <label for="password"><i class="fa-solid fa-lock"></i> Password:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <div class="switch">
                                    <label>
                                      Admin?
                                      <input id="admin_user" name="admin_user" type="checkbox">
                                      <span class="lever"></span>
                                    </label>
                                  </div>
                            </div>
                        </div>
                        <button type="submit" class="btn  btn-small blue accent-3">Add</button>
                        <a class="btn btn-small red accent-3" href="{{ url_for('admin_dashboard')}}">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}