{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="page-title uppercase center">Add Caravan</h1>
    <div class="row">
        <div class="col s12">
            <div class="card add.caravan-card">
                <div class="card-content">
                    <form method="POST" action="{{ url_for('add_caravan') }}">
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="caravan_name" id="caravan-name" type="text" class="validate" required>
                                <label for="caravan-name">Caravan Name:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="img_url" id="img-url" type="url" class="validate" required>
                                <label for="img-url"><i class="fa-solid fa-image"></i> Image URL:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="num_bedrooms" id="num-bedrooms" type="number"
                                    class="validate" required>
                                <label for="num-bedrooms"><i class="fa-solid fa-bed"></i> Number of Bedrooms:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea name="additional_features" id="additional-features" class="materialize-textarea" required></textarea>
                                <label for="additional-features">Additional Features:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <div class="switch">
                                    <label>
                                      Available?
                                      <input type="checkbox" name="caravan_available" id="caravan-available">
                                      <span class="lever"></span>
                                    </label>
                                  </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-medium blue accent-3">Add Caravan</button>
                        <a class="btn btn-medium red accent-3" href="{{ url_for('admin_dashboard')}}">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}