{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="admin-title uppercase center">Admin Dashboard</h1>

    <!-- Caravan Bookings -->
    <div class="row">
        <div class="col s12">
            <h5 class="center caravan-title">Caravan Bookings</h5>
            <div class="card caravan-bookings">
                <div class="row">
                    <div class="col s4 center table-title">Customer</div>
                    <div class="col s4 center table-title">Start Date</div>
                    <div class="col s4 center table-title">End Date</div>
                </div>
                <hr>
                <div class="card-content">
                    {% for caravan_booking in caravan_bookings %}
                    <div class="col s4 center"><p>{{ caravan_booking.customer }}</p></div>
                    <div class="col s4 center"><p>{{ caravan_booking.start_date }}</p></div>
                    <div class="col s4 center"><p>{{ caravan_booking.end_date }}</p></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h5 class="center caravan-options">Caravan Options</h5>
        </div>
        <div class="col s4 center"><a href="{{ url_for('add_caravan')}}" class="btn btn-small blue accent-3">Add</a></div>
        <div class="col s4 center"><a href="{{ url_for('edit_caravan_search')}}" class="btn btn-small blue accent-3">Edit</a></div>
        <div class="col s4 center"><a href="{{ url_for('delete_caravan')}}" class="btn btn-small red accent-3">Delete</a></div>
    </div>
    
    
    <!-- Event Bookings -->
    <div class="row">
        <div class="col s12">
            <h5 class="center event-title">Event Bookings</h5>
            <div class="card event-bookings">
                <div class="row">
                    <div class="col s4 center table-title">Customer</div>
                    <div class="col s4 center table-title">Event</div>
                    <div class="col s4 center table-title">Places</div>
                </div>
                <hr>
                <div class="card-content">
                    {% for event_booking in event_bookings %}
                    <div class="col s4 center">{{ event_booking.customer }}</div>
                    <div class="col s4 center">{{ event_booking.event_name }}</div>
                    <div class="col s4 center">{{ event_booking.places_booked }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h5 class="center event-options">Event Options</h5>
        </div>
        <div class="col s4 center"><a href="{{ url_for('add_event')}}" class="btn btn-small blue accent-3">Add</a></div>
        <div class="col s4 center"><a href="{{ url_for('edit_event_search')}}" class="btn btn-small blue accent-3">Edit</a></div>
        <div class="col s4 center"><a href="{{ url_for('delete_event')}}" class="btn btn-small red accent-3">Delete</a></div>
    </div>

</div>
{% endblock %}