{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="password-title uppercase center">Change Password</h1>
    <div class="row">
        <div class="col s12">
            <div class="card change-password-card">
                <div class="card-content">
                    <form method="POST" action="{{ url_for('change_password', user_id=user.id)}}">
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="old_password" id="old-password" type="password" class="validate">
                                <label for="old-password"><i class="fa-solid fa-lock"></i> Old Password:</label>
                            </div>
                            <div class="input-field col s12">
                                <input name="new" id="new-password" type="password" class="validate">
                                <label for="new-password"><i class="fa-solid fa-lock"></i> New Password:</label>
                            </div>
                            <div class="input-field col s12">
                                <input name="confirm" id="confirm-password" type="password" class="validate">
                                <label for="confirm-password"><i class="fa-solid fa-lock"></i> Confirm Password:</label>
                            </div>
                        </div>
                        <a href="{{ url_for('profile', username=session['user'])}}" class="btn red accent-3">Cancel</a>
                        <button type="submit" class="btn blue accent-3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}