{% extends 'base.html' %}
{% block content %}
<div class="container">
    <a class="btn back-btn btn-small blue accent-3" href="{{ url_for('admin_dashboard')}}"><i
            class="fa-solid fa-angle-left"></i>Back</a>
    <h1 class="page-title uppercase center">Search Caravan</h1>
    <h1 class="page-title uppercase center">To Delete</h1>
    <div class="row card-panel search-panel blue accent-3">
        <form class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field search-input col s12">
                    <i class="fa-solid fa-magnifying-glass white-text prefix"></i>
                    <input type="text" name="search" id="search">
                    <label for="search">Search Caravans</label>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        {% for caravan in caravans%}
        <div class="col s12 m6">
            <div class="card search-card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s4 caravan-img">
                            <img src="{{ caravan.img_url }}" alt="caravan-img">
                        </div>
                        <div class="col s8 search-info">
                            <p>{{ caravan.name }}</p>
                            <p>Bedrooms: {{ caravan.bedrooms}}</p>
                            <p>Features: {{ caravan.additional_feature}}</p>
                            {% if caravan.available == True %}
                            <p>Available: Yes</p>
                            {% else %}
                            <p>Available: No</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <a class="btn btn-small red accent-3 modal-trigger" href="#modal-delete-{{ caravan.id }}">Delete</a>

                <!-- Modal Structure -->
                <div id="modal-delete-{{ caravan.id }}" class="modal delete-caravan">
                    <div class="modal-content">
                        <h4 class="center">Are you sure you want to delete this caravan?</h4>
                        <p class="center">{{ caravan.name }}</p>
                        <img src="{{ caravan.img_url }}" alt="caravan-img">
                    </div>
                    <div class="modal-footer">
                        <button class="modal-close btn btn-small blue accent-3">Cancel</button>
                        <a href="{{ url_for('remove_caravan', caravan_id=caravan.id)}}" class="btn btn-small red accent-3">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}