{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="page-title uppercase center">Search Event</h1>
    <h1 class="page-title uppercase center">To Edit</h1>
    <div class="row card-panel blue accent-3">
        <form action="" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field search-input col s12">
                    <i class="fa-solid fa-magnifying-glass white-text prefix"></i>
                    <input type="text" name="search" id="search">
                    <label for="search">Search Events</label>   
                </div>
            </div>
        </form>
    </div>
{% endblock %}