{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="page-title uppercase center">Edit Event</h1>
    <div class="row">
        <div class="col s12">
            <div class="card add-event-card">
                <div class="card-content">
                    <form method="POST" action="{{ url_for('edit_event', event_id=event.id)}}">
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="event_name" id="event-name" value="{{ event.name }}" type="text" class="validate" required>
                                <label for="event-name">Event Name:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="img_url" id="img-url" value="{{ event.img_url }}" type="text" class="validate" required>
                                <label for="img-url"><i class="fa-solid fa-image"></i> Image URL:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="event_date" id="event-date" type="text" value="{{ event.event_date.strftime('%d %B, %Y') }}" class="datepicker validate" required>
                                <label for="event-date"><i class="fa-solid fa-calendar-days"></i> Event Date:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="places_available" id="places-available" value="{{ event.places_left }}" type="number" class="validate" required>
                                <label for="places-available">Places Available:</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-medium blue accent-3">Update Changes</button>
                        <a class="btn btn-medium red accent-3" href="{{ url_for('edit_event_search')}}">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}