{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="page-title uppercase center">Book Event</h1>
    <div class="row">
        <div class="col s12">
            <div class="card event-booking-card">
                <div class="card-content">
                    <div class="row event-details">
                        <div class="col s12 booking-event-name">
                            <h5 class="center">{{ event.name }}</h5>
                        </div>
                        <div class="col s12 center">
                            <img src="{{ event.img_url }}" alt="event-img">
                        </div>
                        <div class="col s12">
                            <p>Date: {{ event.event_date.strftime("%d %B, %Y") }}</p>
                            <p>Spaces Available: {{ event.places_left }}</p>
                        </div>
                    </div>
                    <form method="POST" action="{{ url_for('event_booking', event_id=event.id)}}">
                        <div class="row">
                            <div class="input-field col s6">
                                <input name="first_name" id="first-name" type="text" class="validate" required>
                                <label for="first-name">First Name:</label>
                            </div>
                            <div class="input-field col s6">
                                <input name="last_name" id="last-name" type="text" class="validate" required>
                                <label for="last-name">Last Name:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="spots_wanted" id="spots-wanted" type="number" class="validate" required>
                                <label for="spots-wanted">How Many People?</label>
                            </div>
                        </div>
                        <a href="{{ url_for('events')}}" class="btn red accent-3">Cancel</a>
                        <button type="submit" class="btn blue accent-3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}