{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="events-title uppercase center">Find Events During Your Holiday</h1>
    <div class="row card-panel search-panel blue accent-3">
        <form method="POST" action="{{ url_for('events') }}" class="col s12">
            <div class="row valign-wrapper filter-area">
                <div class="input-field col s6 search-filter">
                    <select id="select_filter" name="select_filter">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="spaces">Spaces</option>
                        <option value="date">Date</option>
                    </select>
                    <label>Search By</label>
                </div>
                <div class="col s4 date-text">
                    <p>For date searching, please enter in the format of "day month, year"</p>
                    <p>e.g "25 November, 2022"</p>
                </div>
            </div>
            <div class="row valign-wrapper center-align">
                <div class="input-field search-input col s12">
                    <i class="fa-solid fa-magnifying-glass white-text prefix"></i>
                    <input type="text" name="search" id="search">
                    <label for="search">Search</label>
                </div>
            </div>
            <button class="btn btn-small blue accent-3" type="submit"></button>
        </form>
    </div>
    <div class="row">
        {% for event in events%}
        <div class="col s12 m6">
            <div class="card search-card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s4 event-img">
                            <img src="{{ event.img_url }}" alt="event-img">
                        </div>
                        <div class="col s8 search-info">
                            <p>{{ event.name }}</p>
                            <p>Date: {{ event.event_date.strftime("%d %B, %Y") }}</p>
                            <p>Spaces Available: {{ event.places_left }}</p>
                        </div>
                    </div>
                </div>
                <a href="{{ url_for('event_booking', event_id=event.id) }}" class="btn btn-small blue accent-3">Book</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}