{% extends 'base.html' %}
{% block content%}
<div class="hero-wrapper">
    <div class="row">
        <div class="col s12">
            <div class="card hero-card blue accent-3">
                {% if session['user'] %}
                <div class="card-content white-text">
                    <span class="card-title center">Looking to Book Your Next Holiday?</span>
                    <p>Thinking about staying with Tribal Holidays again?</p>
                    <p>Why not check out our other Caravans and Events for a different expierience.</p>
                </div>
                <div class="sign-up center uppercase">
                    <a class="btn btn-small white" href="{{ url_for('caravans') }}">Caravans</a>
                    <a class="btn btn-small white" href="{{ url_for('events') }}">Events</a>
                </div>
                {% else %}
                <div class="card-content white-text">
                    <span class="card-title center">Welcome to Tribal Holidays</span>
                    <p>Looking for somewhere different for your next family holiday or just a peaceful get away?</p>
                    <p>Here at Tribal Holidays we have a range of Caravans and Events that will fulfil your holiday
                        thrill.</p>
                </div>
                <div class="sign-up center uppercase">
                    <a class="btn white" href="{{ url_for('register') }}">Sign up Today!</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container recommendations">
    <h3 class="center">Recommendations</h3>

    <div class="row recommended-item-left">
        <div class="image-content col s5">
            <img src="{{ c_one.img_url }}" alt="caravan-img">
        </div>
        <div class="text-content col s7">
            <h6>{{ c_one.name }}</h6>
            <p>Bedrooms: {{ c_one.bedrooms}}</p>
            <p>Features: {{ c_one.additional_feature}}</p>
            <a href="{{ url_for('caravan_booking', caravan_id=c_one.id)}}"
                class="btn btn-small blue accent-3 center">Book</a>
        </div>
    </div>
    <div class="row recommended-item-right">
        <div class="text-content col s7">
            <h6>{{ e_one.name }}</h6>
            <p>Date: {{ e_one.event_date.strftime("%d %B, %Y") }}</p>
            <p>Spaces Available: {{ e_one.places_left }}</p>
            <a href="{{ url_for('event_booking', event_id=e_one.id) }}" class="btn btn-small blue accent-3">Book</a>
        </div>
        <div class="image-content col s5">
            <img src="{{ e_one.img_url }}" alt="event-img">
        </div>
    </div>
    <div class="row recommended-item-left">
        <div class="image-content col s5">
            <img src="{{ c_two.img_url }}" alt="caravan-img">
        </div>
        <div class="text-content col s7">
            <h6>{{ c_two.name }}</h6>
            <p>Bedrooms: {{ c_two.bedrooms}}</p>
            <p>Features: {{ c_two.additional_feature}}</p>
            <a href="{{ url_for('caravan_booking', caravan_id=c_two.id)}}"
                class="btn btn-small blue accent-3 center">Book</a>
        </div>
    </div>
    <div class="row recommended-item-right">
        <div class="text-content col s7">
            <h6>{{ e_two.name }}</h6>
            <p>Date: {{ e_two.event_date.strftime("%d %B, %Y") }}</p>
            <p>Spaces Available: {{ e_two.places_left }}</p>
            <a href="{{ url_for('event_booking', event_id=e_two.id) }}" class="btn btn-small blue accent-3">Book</a>
        </div>
        <div class="image-content col s5">
            <img src="{{ e_two.img_url }}" alt="event-img">
        </div>
    </div>
</div>
{% endblock %}