@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;700&display=swap');

/*Base Template*/
body{
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }

.uppercase{
    text-transform: uppercase;
}

.sidenav{
    width: 200px;
}

.logo-text{
    font-size: 1.5rem;
    font-weight: 700;
}

.page-footer{
    padding-top: 0;
    height: 30px;
}

.social-link{
    color: #faffff;
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
}

.copyright-text{
    text-align: center;
    font-size: 11px;
    margin-top: 5px;
}

/*Landing Page*/
.hero-wrapper{
    height: 40vh;
    width: 100%;

    background: url("../images/hero-caravan.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    justify-content: center;
    align-items: center;
}
.hero-card{
    margin-top: 65px;
    opacity: 0.9;
}
.card .card-content .card-title {
    margin-bottom: 20px;
    font-size: 28px;
}
.card .card-content p {
    text-align: center;
    font-size: 14px;
}
.sign-up{
    margin: 15px auto;
    padding: 15px 15px;
}
.sign-up a{
    color: #2979ff;
    font-size: 18px;
}
.image-content{
    text-align: center;
}
.image-content img{
    width: 200px;
    height: 150px;
}
.text-content{
    text-align: center;
}

/*Register Page*/
.register-title{
    color: #2979ff;
    font-size: 3em;
}
.register-card{
    border-radius: 12px;
}
.signup-btn{
    font-size: 16px;
    margin-left: 100px;
}

/*Caravan Page*/
.caravans-title{
    font-size: 36px;
    line-height: 40px;
    color: #2979ff;
}
.card-panel{
    padding: 0;
}
.search-input i{
    font-size: 10px;
}
.caravan-img img{
    width: 125px;
    height: 100px;
}


/*Event Page*/
.events-title{
    font-size: 36px;
    line-height: 42px;
    color: #2979ff;
    margin-bottom: 30px;
}
.event-img img{
    width: 125px;
    height: 100px;
}


/* Profile Page */
.profile-title{
    font-size: 32px;
    color: #2979ff;
}
.profile-card{
    margin: 30px 0;
}
.profile-card .card-content{
    padding: 16px;
}
.details-title{
    font-size: 2.2rem;
    color: #2979ff;
    padding-top: 20px;
}
.profile-card .card-content p {
    font-size: 18px;
}
.profile-card .btn-small{
    padding: 0 5px;
}
.profile-btn{
    margin-left: 32px;
    margin-right: 20px;
}
.booking-title{
    font-size: 2rem;
    color: #2979ff;
    padding-top: 20px;
}

.caravan-booking, .event-booking{
    margin: 30px 0;
}
.caravan-booking .card-content,
.event-booking .card-content{
    padding: 12px;
}
.caravan-booking .booking-details,
.event-booking .booking-details{
    margin-top: 25px;
}
.caravan-booking .btn,
.event-booking .btn{
    margin-bottom: 10px;
}