@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;700&display=swap');

/*Base Template*/
body{
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.flashes h4{
    line-height: 2;
    font-size: 2rem;
}

.uppercase{
    text-transform: uppercase;
}

.sidenav{
    width: 200px;
}

.logo-text{
    font-size: 1.5rem;
    font-weight: 700;
}

.page-footer{
    padding-top: 0;
    height: 30px;
}

.social-link{
    color: #faffff;
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
}

.copyright-text{
    text-align: center;
    font-size: 11px;
    margin-top: 5px;
}

/*Landing Page*/
.hero-wrapper{
    height: 40vh;
    width: 100%;

    background: url("../images/hero-caravan.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    justify-content: center;
    align-items: center;
}
.hero-card{
    margin-top: 65px;
    opacity: 0.9;
}
.card .card-content .card-title {
    margin-bottom: 20px;
    font-size: 28px;
}
.card .card-content p {
    text-align: center;
    font-size: 14px;
}
.sign-up{
    margin: 15px auto;
    padding: 15px 15px;
}
.sign-up a{
    color: #2979ff;
    font-size: 18px;
}
.recommendations{
    margin: 10px 10px
}
.recommendations h3{
    margin-left: 20px;
    color: #2979ff;
}
.recommendations .recommended-item-left,
.recommendations .recommended-item-right{
    margin-top: 25px;
    margin-right: 10px;
}
.recommended-item-left .text-content{
    padding-left: 50px;
}
.image-content{
    text-align: center;
}
.image-content img{
    width: 175px;
    height: 150px;
    border-radius: 12px;
}
.text-content{
    text-align: center;
}

/*Register & Login Page*/
.register-title, .password-title,
.change-details-title, .page-title{
    margin-top: 15px;
    margin-bottom: 5px;
    color: #2979ff;
    font-size: 3em;
}
.register-card, .login-card, .change-password-card,
.change-details-card, .add-caravan-card,
.add-event-card, .search-card{
    border-radius: 12px;
}
.signup-btn{
    font-size: 16px;
    margin-left: 100px;
}
.login-card .btn,
.register-card .btn{
    margin-bottom: 10px;
}

/*Caravan Page*/
.caravans-title{
    font-size: 36px;
    line-height: 40px;
    color: #2979ff;
}
.search-panel button{
    width: 1px;
    height: 1px;
    opacity: 0.1;
    margin: 0;
    padding: 0;
}
.filtr-area{
    margin: 0;
}
.search-filter{
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: 50px;
    height: 2.2em;
}
.caravan-search-filter{
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: 150px;
    height: 2.2em;
}
.search-panel .date-text{
    margin-top: 10px;
    padding: 0;
}
.date-text{
    color: #faffff;
    font-size: 10px;
    line-height: 75%;
}
.search-card .card-content{
    padding: 16px;
}
.search-card .btn{
    margin-left: 155px;
    margin-bottom: 10px;
    font-size: 1rem;
}
.search-info{
    margin-top: 15px;
}
.card-panel{
    padding: 0;
}
.search-input{
    margin-top: 0;
}
.search-input i{
    font-size: 10px;
}
.caravan-img img{
    margin-top: 10px;
    width: 125px;
    height: 100px;
}


/*Event Page*/
.events-title{
    font-size: 36px;
    line-height: 42px;
    color: #2979ff;
    margin-bottom: 30px;
}
.event-img img{
    width: 125px;
    height: 100px;
    margin-top: 10px;
}


/* Profile Page */
.profile-title, .admin-title{
    font-size: 32px;
    color: #2979ff;
}
.profile-card{
    margin: 30px 0;
}
.profile-card .card-content{
    padding: 16px;
}
.details-field{
    line-height: 40px;
}
.details-title, .caravan-title,
.event-title{
    font-size: 2.2rem;
    color: #2979ff;
    padding-top: 20px;
}
.profile-card .card-content p {
    font-size: 18px;
}
.profile-card .btn-small{
    padding: 0 5px;
}
.profile-btn{
    margin-left: 2px;
    margin-bottom: 10px;
}
.booking-title{
    font-size: 2rem;
    color: #2979ff;
    padding-top: 20px;
}

.caravan-booking, .event-booking{
    margin: 30px 0;
}
.caravan-booking .card-content,
.event-booking .card-content{
    padding: 12px;
}
.caravan-booking .booking-details,
.event-booking .booking-details{
    margin-top: 25px;
}
.caravan-booking .btn,
.event-booking .btn{
    margin: 10px 155px;
}


/* Booking Pages */
.caravan-details img,
.event-details img{
    width: 150px;
    height: 125px;
    margin-bottom: 15px;
}
.caravan-booking-card .booking-caravan-name p,
.event-booking-card .booking-event-name p{
    font-size: 24px;
    margin-bottom: 15px;
}
.caravan-booking-card form .row{
    margin: 0;
}
.caravan-booking-card form .btn,
.event-booking-card form .btn{
    margin: 15px 10px;
    margin-bottom: 0;
}

/* Admin Dashboard */
.caravan-title, .event-title{
    margin-bottom: 20px;
}
.caravan-bookings hr,
.event-bookings hr{
    margin: 2px 0;
}
.caravan-bookings .row,
.event-bookings .row{
    padding-top: 10px;
    margin-bottom: 10px;
}
.caravan-bookings .card-content,
.event-bookings .card-content{
    max-height: 150px;
    overflow: scroll;
}
.table-title{
    font-weight: 700;
    font-size: 1.25rem;
    text-decoration: underline;
}
.caravan-options, .event-options{
    color: #2979ff;
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.search-panel .btn{
    margin-bottom: 10px;
}
.delete-caravan img{
    margin-left: 45px;
    width: 200px;
    height: 150px;
}
.back-btn{
    margin-top: 15px;
}

/* Media Queries */
@media screen and (min-width: 768px) {
    /* Home Page */
    .recommendations{
        margin-left: 20px;
    }
    .recommendations .col.s7 {
        margin-left: 0;
    }
    .recommended-item-left .col.m4 {
        margin-left: 160px;
    }
    .recommendations .recommended-item-left,
    .recommendations .recommended-item-right{
        margin: 0;
    }
    .recommended-item-left,
    .recommended-item-right{
        margin-left: 0;
        margin-right: 0;
    }
    .recommended-item-right img{
        margin-left: 50px;
    }
    .recommended-item-right .image-content,
    .recommended-item-left .image-content{
        padding: 0;
    }
    .recommended-item-right .text-content,
    .recommended-item-left .text-content{
        width: 100px;
        padding: 0;
    }
    .recommended-item-left .text-content{
        margin-left: 160px;
    }

    /* Login & Register Page */
    .signup-btn{
        margin-left: 250px;
    }

    /* Caravan & Event Page */
    .search-card, .caravan-booking,
    .event-booking{
        width: 500px;
        margin: 10px auto;
    }
    .search-card .card-content,
    .caravan-booking .card-content,
    .event-booking .card-content{
        padding: 16px 16px 0 16px;
    }
    .search-card .row{
        margin-bottom: 0;
    }
    .caravan-img img{
        width: 175px;
        height: 150px;
    }
    .event-img img{
        width: 150px;
        height: 125px;
    }
    .search-card .search-info p{
        font-size: 17px;
    }
    .search-card .btn{
        margin-left: 300px;
        font-size: 1.25rem;
    }
    .caravan-search-filter{
        margin-right: 290px;
        height: 2.2em;
    }

    /* Admin Dashboard */
    .delete-caravan img{
        margin-left: 175px;
        width: 220px;
        height: 170px;
    }
    .delete-event p{
        font-size: 16px;
    }
    .delete-caravan .modal-content,
    .delete-event .modal-content{
        padding: 24px 24px 0 24px;
    }
    .delete-caravan .modal-footer .btn,
    .delete-event .modal-footer .btn{
        margin-right: 20px;
    }

    /* Profile Page */
    .profile-details .details-field{
        margin-top: 10px;
    }
    .detail-actions{
        margin-left: 90px;
        margin-bottom: 10px;
    }
    .detail-actions a{
        margin: 10px 20px;
    }
    .caravan-booking,
    .event-booking{
        width: 500px;
        margin: 10px auto;
    }
    .caravan-booking .card-content,
    .event-booking .card-content{
        padding: 16px 16px 0 16px;
    }
    .caravan-booking .row,
    .event-booking .row{
        margin-bottom: 0;
    }
    .caravan-booking .btn,
    .event-booking .btn{
        margin-left: 300px;
        font-size: 1.25rem;
    }
    .caravan-booking .booking-details p,
    .event-booking .booking-details p{
        font-size: 17px;
    }
}

@media screen and (min-width: 1024px) {
    .logo-text{
        margin-left: 15px;
    }
    /* Home Page */
    .hero-card{
        width: 700px;
        margin-left: 150px;
    }
    .recommendations{
        margin-left: 75px;
    }
    .recommendations h3{
        margin-left: -50px;
    }

    /* Login & Register Page */
    .signup-btn{
        margin-left: 280px;
    }

    /* Caravan & Event Page */
    .search-card{
        width: 325px;
    }
    .search-card .search-info p{
        font-size: 15px;
        margin-left: 45px;
    }
    .caravan-search-filter{
        margin-right: 315px;
    }
    .caravan-img img{
        width: 150px;
        height: 125px;
    }
    .search-card .btn{
        margin-left: 220px;
    }
    .date-text{
        font-size: 14px;
        line-height: 80%;
    }
    .search-panel .filter-area{
        margin-bottom: 0;
    }
    .search-filter{
        margin-right: 30px;
    }
    /* Profile Page */
    .detail-actions{
        margin-left: 125px;
    }
    /* Admin Dashboard */
    .caravan-bookings .card-content p,
    .event-bookings .card-content p{
        font-size: 18px;
    }
}

@media screen and (min-width: 1440px) {
    .nav-wrapper li a{
        font-size: 17px;
    }
    .back-btn{
        font-size: 18px;
        width: 100px;
        height: 40px;
    }
    /* Home Page */
    .hero-card{
        margin-left: 320px;
        margin-top: 100px;
        width: 800px;
        height: 250px;
    }
    .hero-card .card-content{
        padding: 16px;
    }
    .hero-card .signed-in .card-title{
        font-size: 36px;
        margin-bottom: 30px;
    }
    .hero-card .signed-out .card-title{
        font-size: 32px;
        margin-bottom: 15px;
    }
    .hero-card .signed-out p{
        font-size: 18px;
        margin-bottom: 5px;
        padding: 0 100px;
    }
    .hero-card .signed-in p{
        font-size: 18px;
        margin-bottom: 5px;
        padding: 0 100px;
    }
    .hero-card .sign-up{
        margin: 0;
        padding: 0 0 30px 0;
    }
    .hero-card .sign-up a{
        font-size: 22px;
    }
    .recommendations .recommended-item-left .text-content{
        margin-left: 150px;
    }
    .recommended-item-left .text-content h6{
        font-size: 1.3rem;
    }
    .recommended-item-left .text-content p{
        font-size: 18px;
    }
    .recommendations .recommended-item-left .image-content{
        margin-left: 150px;
    }
    .recommendations .recommended-item-right .text-content{
        margin-right: 50px;
    }
    .recommended-item-right .text-content h6{
        font-size: 1.3rem;
    }
    .recommended-item-right .text-content p{
        font-size: 18px;
    }

    /* Register & Login Page */
    .register-card{
        width: 75%;
        margin-left: 130px;
    }
    .register-card .signup-btn{
        margin-left: 295px;
    }
    .login-card{
        width: 75%;
        margin-left: 120px;
    }
    .login-card .signup-btn{
        margin-left: 300px;
    }

    /* Caravans & Events Page */
    .search-panel{
        width: 75%;
        margin-top: 30px;
        margin-left: 130px;
    }
    .caravan-search-filter{
        margin-right: 330px;
    }
    .search-card{
        width: 480px;
    }
    .search-card .search-info p{
        font-size: 18px;
    }
    .search-card .caravan-img img{
        width: 175px;
        height: 150px;
        margin-left: 30px;
    }
    .search-card .btn{
        margin-left: 300px;
    }

    /* Admin Dashboard */
    .admin-title{
        font-size: 42px;
    }
    .table-title{
        font-size: 1.5rem;
    }
    .caravan-bookings .card-content p,
    .event-bookings .card-content p{
        font-size: 20px;
    }
    .caravan-options, .event-options{
        font-size: 1.75rem;
        margin-bottom: 30px;
    }
    .caravan-option a,
    .event-option a{
        font-size: 18px;
        width: 100px;
        height: 35px;
    }
    .add-caravan-card, .add-event-card{
        width: 75%;
        margin-left: 110px;
    }
    .delete-caravan .modal-content p{
        font-size: 18px;
    }
    .delete-caravan .modal-content img{
        margin-left: 250px;
    }

    /* Booking Page */
    .caravan-booking-card, .event-booking-card{
        width: 75%;
        margin-left: 110px;
    }
    .caravan-booking-card .caravan-details .booking-caravan-name,
    .event-booking-card .event-details .booking-event-name{
        font-size: 24px;
    }
    .caravan-booking-card .caravan-details img,
    .event-booking-card .event-details img{
        width: 175px;
        height: 150px;
    }
    .caravan-booking-card .caravan-details p,
    .event-booking-card .event-details p{
        font-size: 18px;
    }

    /* Profile Page */
    .profile-title{
        font-size: 48px;
    }
    .profile-card .card-content p{
        font-size: 22px;
    }
    .detail-actions{
        margin-left: 200px;
    }
    .profile-btn{
        font-size: 18px;
    }
    .caravan-booking .booking-details p,
    .event-booking .booking-details p{
        font-size: 20px;
    }
    .change-details-card,
    .change-password-card{
        width: 75%;
        margin-left: 120px;
    }
    .delete-account-modal .modal-content .input-field{
        width: 50%;
        margin-top: 20px;
        margin-left: 180px;
    }
}

@media screen and (min-width: 1920px) {
    /* Home Page */
    .hero-wrapper{
        height: 50vh;
    }
    .hero-card{
        margin-left: 510px;
        height: 300px;
    }
    .hero-card .signed-in .card-title{
        font-size: 36px;
        margin-top: 10px;
        margin-bottom: 40px;
    }
    .hero-card .signed-out .card-title{
        font-size: 36px;
        margin-top: 10px;
        margin-bottom: 25px;
    }
    .hero-card .signed-out p{
        font-size: 18px;
        margin-bottom: 5px;
        padding: 0 100px;
    }
    .hero-card .signed-in{
        margin-bottom: 30px;
    }
    .hero-card .signed-in p{
        margin-bottom: 5px;
        padding: 0 100px;
    }
    .hero-card .sign-up{
        margin-top: 15px;
        padding: 0 0 30px 0;
    }
    .hero-card .sign-up a{
        font-size: 22px;
    }
    .recommendations .recommended-item-left .text-content{
        margin-left: 100px;
    }
    .recommendations .recommended-item-left .image-content{
        margin-left: 200px;
    }
    .recommendations .recommended-item-left img{
        width: 200px;
    }
    .recommendations .recommended-item-right .text-content{
        margin-right: 50px;
    }
    .recommendations .recommended-item-right img{
        width: 200px;
    }

    /* Register & Login Page */
    .register-card,
    .login-card{
        width: 60%;
        margin-left: 250px;
    }
    .register-card .signup-btn{
        margin-left: 300px;
    }
    .login-card .signup-btn{
        margin-left: 300px;
    }

    /* Caravans & Events Page */
    .search-panel{
        width: 65%;
        margin-top: 30px;
        margin-left: 200px;
    }
    .caravan-search-filter{
        margin-right: 370px;
    }
    .search-card{
        width: 500px;
        margin: 10px 20px;
    }
    .search-card .search-info p{
        font-size: 18px;
    }
    .search-card .caravan-img img,
    .search-card .event-img img{
        width: 200px;
        margin-left: 20px;
    }
    .search-card .btn{
        margin-left: 330px;
    }
    .search-filter {
        margin-right: 50px;
    }

    /* Profile Page */
    .profile-card .card-content p{
        font-size: 24px;
    }
    .detail-actions{
        margin-left: 350px;
    }
    .caravan-booking .caravan-img img,
    .event-booking .event-img img{
        width: 180px;
    }
    .change-details-card,
    .change-password-card{
        width: 60%;
        margin-left: 250px;
    }
    .delete-account-modal{
        width: 40%;
    }
    .delete-account-modal .modal-content .input-field{
        width: 40%;
        margin-top: 20px;
        margin-left: 210px;
    }

    /* Admin Dashboard */
    .add-caravan-card, .add-event-card{
        width: 60%;
        margin-left: 250px;
    }
    .delete-caravan, .delete-event{
        width: 40%;
    }
    .delete-caravan .modal-content img{
        margin-left: 240px;
    }
}