@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;700&display=swap');

/*Base Template*/
body{
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.flashes h4{
    line-height: 2;
    font-size: 2rem;
}

.uppercase{
    text-transform: uppercase;
}

.sidenav{
    width: 200px;
}

.logo-text{
    font-size: 1.5rem;
    font-weight: 700;
}

.page-footer{
    padding-top: 0;
    height: 30px;
}

.social-link{
    color: #faffff;
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
}

.copyright-text{
    text-align: center;
    font-size: 11px;
    margin-top: 5px;
}

/*Landing Page*/
.hero-wrapper{
    height: 40vh;
    width: 100%;

    background: url("../images/hero-caravan.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    justify-content: center;
    align-items: center;
}
.hero-card{
    margin-top: 65px;
    opacity: 0.9;
}
.card .card-content .card-title {
    margin-bottom: 20px;
    font-size: 28px;
}
.card .card-content p {
    text-align: center;
    font-size: 14px;
}
.sign-up{
    margin: 15px auto;
    padding: 15px 15px;
}
.sign-up a{
    color: #2979ff;
    font-size: 18px;
}
.recommendations{
    margin: 10px 10px
}
.recommendations h3{
    margin-left: 20px;
    color: #2979ff;
}
.recommendations .recommended-item-left,
.recommendations .recommended-item-right{
    margin-top: 25px;
    margin-right: 10px;
}
.recommended-item-left .text-content{
    padding-left: 50px;
}
.image-content{
    text-align: center;
}
.image-content img{
    width: 175px;
    height: 150px;
    border-radius: 12px;
}
.text-content{
    text-align: center;
}

/*Register Page*/
.register-title, .password-title,
.change-details-title, .page-title{
    margin-top: 15px;
    margin-bottom: 5px;
    color: #2979ff;
    font-size: 3em;
}
.register-card, .change-password-card,
.change-details-card, .add-caravan-card,
.add-event-card, .search-card{
    border-radius: 12px;
}
.signup-btn{
    font-size: 16px;
    margin-left: 100px;
}

/*Caravan Page*/
.caravans-title{
    font-size: 36px;
    line-height: 40px;
    color: #2979ff;
}
.search-card .card-content{
    padding: 16px;
}
.search-card .btn{
    margin-left: 155px;
    margin-bottom: 10px;
    font-size: 1rem;
}
.search-info{
    margin-top: 15px;
}
.card-panel{
    padding: 0;
}
.search-input i{
    font-size: 10px;
}
.caravan-img img{
    margin-top: 10px;
    width: 125px;
    height: 100px;
}


/*Event Page*/
.events-title{
    font-size: 36px;
    line-height: 42px;
    color: #2979ff;
    margin-bottom: 30px;
}
.event-img img{
    width: 125px;
    height: 100px;
    margin-top: 10px;
}


/* Profile Page */
.profile-title, .admin-title{
    font-size: 32px;
    color: #2979ff;
}
.profile-card{
    margin: 30px 0;
}
.profile-card .card-content{
    padding: 16px;
}
.details-field{
    line-height: 40px;
}
.details-title, .caravan-title,
.event-title{
    font-size: 2.2rem;
    color: #2979ff;
    padding-top: 20px;
}
.profile-card .card-content p {
    font-size: 18px;
}
.profile-card .btn-small{
    padding: 0 5px;
}
.profile-btn{
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.booking-title{
    font-size: 2rem;
    color: #2979ff;
    padding-top: 20px;
}

.caravan-booking, .event-booking{
    margin: 30px 0;
}
.caravan-booking .card-content,
.event-booking .card-content{
    padding: 12px;
}
.caravan-booking .booking-details,
.event-booking .booking-details{
    margin-top: 25px;
}
.caravan-booking .btn,
.event-booking .btn{
    margin: 10px 155px;
}


/* Booking Pages */
.caravan-details img,
.event-details img{
    width: 150px;
    height: 125px;
    margin-bottom: 15px;
}
.caravan-booking-card .booking-caravan-name p,
.event-booking-card .booking-event-name p{
    font-size: 24px;
    margin-bottom: 15px;
}
.caravan-booking-card form .row{
    margin: 0;
}
.caravan-booking-card form .btn,
.event-booking-card form .btn{
    margin: 15px 10px;
    margin-bottom: 0;
}

/* Admin Dashboard */
.caravan-title, .event-title{
    margin-bottom: 20px;
}
.caravan-bookings hr,
.event-bookings hr{
    margin: 2px 0;
}
.caravan-bookings .row,
.event-bookings .row{
    padding-top: 10px;
    margin-bottom: 10px;
}
.caravan-bookings .card-content,
.event-bookings .card-content{
    max-height: 150px;
    overflow: scroll;
}
.table-title{
    font-weight: 700;
    font-size: 1.25rem;
    text-decoration: underline;
}
.caravan-options, .event-options{
    color: #2979ff;
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.search-panel .btn{
    margin-bottom: 10px;
}
.modal-content img{
    margin-left: 45px;
    width: 200px;
    height: 150px;
}